@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
}

body {
  @apply bg-base;
}

.fc-scrollgrid {
  background-color: white;
}

/* 今日の日付 */
.fc .fc-daygrid-day.fc-day-today {
  background-color: #5865F2;
  color: white;
}

.fc-next-button .fc-button .fc-button-primary {
  background-color: #5865F2;
}